


@import url('header.less');
@import url('carousel.less');


body{
	background-color: #fff;
}
#servicos .menu_item h2 {
color: #333;
}
#contato .intro_pad {
padding: 100px 0 0;
}
#contato .inter .widget h2 span {
color: #fff;
}
.uj-block2_mid{
	padding-top: 40px;
}
.h1, h1 {
font-size: 52px;
line-height: 72px;
}